<!DOCTYPE html>
<html lang="fr">
	<head>
		{% include 'head.html.twig' %}
	</head>
	<body class="">
		{# possible classes: minified, fixed-ribbon, fixed-header, fixed-width #}

		
		{% include 'header.html.twig' %}
		{% include 'menu.html.twig' %}
		
		<!-- MAIN PANEL -->
		<div id="main" role="main">
		
			<!-- RIBBON -->
			<div id="ribbon">
		
				<span class="ribbon-button-alignment"> <span class="fa fa-lg fa-fw fa-chevron-right"></span></span>
		
				<!-- breadcrumb -->
				<ol class="breadcrumb">
					{% block breadcrumb %}
						<li>Home</li>
					{% endblock %}
				</ol>
				<!-- end breadcrumb -->
		
				<!-- You can also add more buttons to the
				ribbon for further usability
		
				Example below:
		
				<span class="ribbon-button-alignment pull-right">
				<span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
				<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
				<span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
				</span> -->
		
			</div>
			<!-- END RIBBON -->
		
		    {% include 'session.html.twig' %}
		    
			{% block body %}
		  	{% endblock %}
		
		</div>
		<!-- END MAIN PANEL -->
		
		{% include 'foot.html.twig' %}
		
		{% block javascript %}
        {% endblock %}

	</body>

</html>